<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>attachment</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
   <listener>
       <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
   </listener>
   <servlet>
       <description>JAX-WS endpoint </description>
       <display-name>JAX-WS servlet</display-name>
       <servlet-name>JAX-WS-Service</servlet-name>
       <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
       <load-on-startup>1</load-on-startup>
   </servlet>
   
    <!-- Redirect all SOAP calls to dispatcher. Other request type also can specify SOAP output format-->
    <servlet-mapping>
        <servlet-name>JAX-WS-Service</servlet-name>
        <url-pattern>*.soap</url-pattern>
    </servlet-mapping>
    
    <!-- Redirect all JSON calls to dispatcher. Other request type also can specify JSON output format-->
    <servlet-mapping>
        <servlet-name>JAX-WS-Service</servlet-name>
        <url-pattern>*.json</url-pattern>
    </servlet-mapping>
</web-app>